
.ranking{
  .card{
    position: relative;
    .card-img-top{
      height: 100%;
      width: 87px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      @include desktop{
        height: 374px;
        width: 100%;
        border: none;
      }
        object-fit: cover;
        object-position: top;
    }
    .number{
      vertical-align: middle;
      text-align: center;
      width: 38px;
      height: 100%;
      line-height: 91px;
      background:white;
      flex-shrink: 0;
      @include desktop{
        border: 1px solid black;
        line-height: 64px;
        width: 64px;
        height: 64px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .img-hover {
      position: relative;
      // background-color: #000;
      &:hover {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: black;
          opacity: 0.5;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
      }
    }

  }
}



