
.ranking{
  .card{
    position: relative;
    .ranking-card-img{
      height: 91px;
      width: 87px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      @include desktop{
        height: 374px;
        width: 100%;
        border: none;
      }
        object-fit: cover;
        object-position: top;
    }
    .ranking-card-img-s{
      height: 91px;
      width: 87px;
      border-left: 1px solid black;
      border-right: 1px solid black;
        object-fit: cover;
        object-position: top;
    }
    .number{
      vertical-align: middle;
      text-align: center;
      width: 38px;
      height: 100%;
      line-height: 91px;
      background:white;
      flex-shrink: 0;
      @include desktop{
        border: 1px solid black;
        line-height: 64px;
        width: 64px;
        height: 64px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .number-s{
      vertical-align: middle;
      text-align: center;
      width: 38px;
      height: 100%;
      line-height: 91px;
      background:white;
      flex-shrink: 0;
    }
    .img-hover {
      position: relative;
      // background-color: #000;
      &:hover {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: black;
          opacity: 0.5;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & button{
          display: block !important;
          position: absolute;
          // background: $button;
          right: 0;
          bottom: 0;
          // background: white;
          z-index: 10;
        }
        
      }
    }
    .img-hover-s {
      position: relative;
      // background-color: #000;
      &:hover {
        &::after {
          content: 'more';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: black;
          opacity: 0.8;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &::before{
          content: '';
          position: absolute;
          border-top: 16px solid transparent;
          border-right: 16px solid $button;
          bottom: 0;
          right: 0;
          z-index: 1;
        }
        
      }
    }

  }
}


.swiper {
  width: 336px;
  @include desktop{
    width: 100%;
  }
  // padding-top: 50px;
  // padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  // flex-shrink: 1;
  @include flex-center;
  @include desktop{
    width: 636px;
    height: 439px;

  }

  &-active{
    // flex-shrink: 0;
    img{
      display: block !important;
      width: 336px !important; 
      height: 232px !important;
      filter: unset !important;
      @include desktop {
        width: 636px !important;
        height: 439px !important;
      }
    }
    .swiper-slide-words, .swiper-slide-btn, .swiper-slide-artist {
      display: block !important;
    }
  }
  & img {
    display: none;
    width: 306px;
    height: 262px;
    object-fit: cover;
    filter: grayscale(90%);
    // margin-left: auto;
    // margin-right: 24px;
    @include desktop{
      display: block;
   }
  }
  &-artist{
    display: none;
    position: absolute;
    top: 24px;
    left: 24px;
    @include desktop{
      width: 258px;
    }
  }
  &-btn{
    display: none !important;
    position: absolute;
    right: 8px;
    bottom: 8px;
    background: white;
    @include desktop{
      right: 24px;
      bottom: 24px;
    }
  }
  &-words{
    display: none;
    bottom: 24px;
    left: 24px;
    font-size: 16px;
    background: white;
    opacity: 0.8;
    width: 336px;
    margin-top: 16px;
    @include desktop{
      position: absolute;
      width: 307px;
    }
  }
}

.swiper-pagination {
    position: unset;
    width: auto !important;
    .swiper-pagination-bullet {
     background-color: $black;
     // 才會有bullet色彩
     opacity: initial;
     border-radius: 0% !important;
     &-active {
    // active的樣式，才會有拉長的效果
      background-color: $button;
      width: 16px;
      // border-radius: 100px;//不知道這裡要幹嘛
      }
     }
  }



.artwork{

  .img-hover {
      position: relative;
      // background-color: #000;
      &:hover {
        img{
          filter: brightness(0.4);
        }
        .hover-content-container{
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          padding: 40px !important;
          display: flex !important;
          z-index: 3;
        }
        .hover-content{
          border: 1px solid white;
          padding: 16px;
        }
       
        & button{
          display: block !important;
          // position: absolute;
          // background: $button;
          // right: 0;
          // bottom: 0;
          // background: white;
          // z-index: 10;
        }
        
      }
    }
}
