.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

.ranking{
  .card{
    position: relative;
    .card-img-top{
        height: 374px;
        object-fit: cover;
        object-position: top;
    }
    .number{
      vertical-align: middle;
      text-align: center;
      line-height: 64px;
      width: 64px;
      height: 64px;
      background:white;
      border: 1px solid black;
      position: absolute;
      top: 0;
      left: 0;
    }

  }
  .img-hover {
    position: relative;
    border: 10px solid red;
    // background-color: #000;
    &:hover {
      &::after {
        content: 'more';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    }
  }
}


