<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary border border-buttom border-black py-0">
  <div class="container">
    <a class="navbar-brand " href="#" style="width:190px">
      <img src="./assets/images/logo/logo.svg" alt="" class="w-50 w-lg-75 w-xxl-100">
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-black fs-3"></i>
      
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >

      <form class="d-lg-flex ms-auto py-10 px-12 border-start border-black d-none">
        <input class="form-control bg-primary border-0 d-none d-md-block " type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search" style="width:288px">
        
        <button class="btn " type="submit">
         <i class="fas fa-search fs-4"></i>
        </button>
      </form>

      <ul class="navbar-nav bg-white bg-lg-primary mx-n3 px-3 px-lg-0 pb-9 pb-lg-0">
        <li class="nav-item border-bottom border-bottom-lg-0 border-start-lg border-black ">
          <a class="nav-link active nav-button" aria-current="page" href="#">探索</a>
        </li>
        <li class="nav-item border-start-lg border-black">
          <a class="nav-link active nav-button " aria-current="page" href="#">市值</a>
        </li>
        <li class="nav-item  border-start-lg border-black bg-button bg-lg-primary border border-lg-0 ">
          <a class="nav-link  py-3 py-lg-12 ps-lg-12 text-center" aria-current="page" href="#">
            <i class="fas fa-wallet fs-4 d-none d-lg-inline-block"></i>
            <p class="text-white text-center d-lg-none">連結錢包</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <%- contents %>

    <footer class="footer">
      
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>