<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Paytone+One&family=Squada+One&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom py-4 py-lg-0">

    <div class="container">
      <a class="navbar-brand " href="#" style="width:190px">
        <img src="./assets/images/logo/logo.svg" alt="" class="w-50 w-lg-75 w-xxl-100">
      </a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-black fs-3"></i>
        
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >

        <form class="d-lg-flex ms-auto py-10 px-12 border-start d-none">
          <input class="form-control bg-primary border-0 d-none d-md-block " type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search" style="width:288px">
          
          <button class="btn " type="submit">
          <i class="fas fa-search fs-4"></i>
          </button>
        </form>

        <ul class="navbar-nav bg-white bg-lg-primary mx-n3 px-3 px-lg-0 pb-9 pb-lg-0">
          <li class="nav-item border-bottom border-bottom-lg-0 bg-white bg-lg-primary border-start-lg ">
            <a class="nav-link active nav-button" aria-current="page" href="#">探索</a>
          </li>
          <li class="nav-item border-start-lg bg-white bg-lg-primary">
            <a class="nav-link active nav-button " aria-current="page" href="#">市值</a>
          </li>
          <li class="nav-item  border-start-lg bg-button bg-lg-primary border border-lg-0 bg-primary">
            <a class="nav-link  py-3 py-lg-12 ps-lg-12 text-center" aria-current="page" href="#">
              <i class="fas fa-wallet fs-4 d-none d-lg-inline-block"></i>
              <p class="text-white text-center d-lg-none">連結錢包</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

    <%- contents %>

    <footer class="footer bg-primary border-top ">
      <hr size="6"  style="color:black; opacity:1" class="mt-2 mb-0">
      <p class="fs-6 text-center py-6 ">© ART NFT. All Rights Reserved</p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>