@mixin desktop {
  @media (min-width:992px) {
    @content
  }
};
@mixin l-desktop {
  @media (min-width:1400px) {
    @content
  }
};
@mixin mobile {
  @media (min-width:767px) {
    @content
  }
};

@mixin size($width,$height:$width) {
    width: $width;
    height: $height;
}
@mixin before($width,$height){
    &::before {
        content:'';
        width: $width;
        height: $height;
        display: inline-block;
        
        @content;
    }
}
@mixin link-hover{ 
    transition: all 0.5s;
    &:hover{
      @content;
    } 
  } 
@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
@mixin position-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@mixin align-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin nav-hover {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    margin: 5px 0; 
    background-color: $white;
    transition: width .5s;
}
@mixin clearfix {
     &:after {
         content: "";
         display: table;
         clear:both;
    }
} 
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-gradient-color {
  // background: linear-gradient(to bottom, #09ACF5, #62DB54);
  background-clip: text;
  color: transparent;
}