

  .nav-button {
    padding-top: 24px;
    padding-bottom: 24px;
    @include desktop{
      padding-top: 48px !important;
      padding-bottom: 48px !important;

    }
     padding-left: 40px !important;
     padding-right: 40px !important;
     text-align: center;
  }

  .more-button{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      border-top: 16px solid transparent;
      border-right: 16px solid $button;
      z-index: 2;
      // display: none;
    }
    &:hover{
      background: $button;
      &::after{
        border-right: 16px solid $black;
      }
    }
  }

  .button-title{
    position: absolute;
    right: 0;
    bottom: 0;
  }